@font-face {
    font-family: Headoh;
    src: url("../font/Headoh.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: LeagueGothic-Cond;
    src: url("../font/LeagueGothic-CondensedRegular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: LeagueGothic-Reg;
    src: url("../font/LeagueGothic-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

/* 
Azul Coresport: #00b5e2 - rgb(0, 181, 226)
Azul oscurito: #049CC2 - rgb(4, 156, 194)
Amarillo Coresport: #e1e000 - rgb(225, 224, 0)
Amarillo oscurito: #D6D504
*/


html, body {
    margin:0px;
    padding:0px;
    background:#fdfdfd;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: #555;
}

#pagewrapper {
    min-height:100%;
    position:relative;
}

a {
    color:#049CC2;
}
a:hover {
    text-decoration: none;
    color:#00b5e2;
}
img {
    max-width:100%;
}

p {
    text-align: justify;
}

header {
    background-color: #444;
    width: 100%;
    height: 35px;
}
.redes-sociales {
    position: absolute;
    overflow: hidden;
    right: 10%;
}
.redes-sociales span {  
    position: relative;
    top: -17px;
    margin-right: 7px;
    color: #B0B061;
    font-style: italic;
    font-size: 13px;
}
.redes-sociales a {
    position: relative;
}
.redes-sociales img {
    margin-top: 0px;
    height: 70px;
    transition:.2s all ease-out;
    -webkit-transition:.2s all ease-out;
    -moz-transition:.2s all ease-out;
    -ms-transition:.2s all ease-out;
    -o-transition:.2s all ease-out;
}
.redes-sociales img:hover {
    margin-top: -70px;
    transition:.2s all ease-out;
    -webkit-transition:.2s all ease-out;
    -moz-transition:.2s all ease-out;
    -ms-transition:.2s all ease-out;
    -o-transition:.2s all ease-out;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #000;
    border: 0px;
    border-bottom: 3px solid #e1e000;
}

.navbar-nav {
    float: right;
}

.navbar .navbar-nav>li>a{
    font-weight:700;
}

#home-logo {
    position: absolute;
    float: left;
    padding: 12px 0px;
}

#home-logo img {
    width: 248px;
}

ul#nav li {
    display: inline-block;
    float:left;
    cursor: pointer;
}

ul#nav li a {
    color: #eee;
    text-transform: uppercase;
    font-family: LeagueGothic-Reg;
    font-size:21px;
    letter-spacing: 0.3mm;
    font-weight: 100;
    float: left;
    padding: 28px 25px;
    display:block;
    z-index: 503;
}

ul#nav li.active a {
    color:#00b5e2;
    background-color:#000;
}

ul#nav li.active a:hover,
ul#nav li.active a:focus,
ul#nav li a:hover,
ul#nav li a.menuItemHover{
    color:#00b5e2;
    background-color:#fff;
}

ul#nav li ul.dropdown {
    position: absolute;
    z-index: 500;
    /*visibility: hidden;*/
    top: 100%;
    height: 0px;
    overflow: hidden;
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.175);
    box-shadow: 0 4px 4px rgba(0,0,0,.175);
    transition: cubic-bezier(0, 0, 1, 1); 
    -webkit-transition: all 0.4s; 
    -moz-transition: all 0.4s; 
    -ms-transition: all 0.4s; 
    -o-transition: all 0.4s; 
}

ul#nav li:hover ul.dropdown {
    left: 0px;
    /*visibility: visible;*/
    height: 215px;
    padding-top: 5px;
    transition: cubic-bezier(0, 0, 1, 1); 
    -webkit-transition: all 0.4s; 
    -moz-transition: all 0.4s; 
    -ms-transition: all 0.4s; 
    -o-transition: all 0.4s; 
    border-bottom: 3px solid #e1e000;
}

ul#nav li ul.dropdown li{
    display:inline-block;
    float: none;
    margin: -10px auto;
}
ul#nav li ul.dropdown-tienda li{
    margin: -10px 40px;
}

ul#nav li ul.dropdown li a {
    text-align: left;
    color: #888;
    font-size: 20px;
    display:block;
    /*padding:12px 5px 12px 25px;*/
    background-color: #fff;
}

ul#nav li ul.dropdown li a:hover {
    color:#00b5e2;
    opacity: 0.80;
}

ul#nav li ul.dropdown li a div img{
    height: 165px;
    margin-top: -29px;
    margin-left: -9px;
}


#owl-big .item img, #owl-small .item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
#owl-small-wrapper {
    display: none;
}

.titulo {
    margin: 30px 0px 10px 0px;
    text-transform: uppercase;
    font-family: LeagueGothic-Reg;
    font-size: 28px;
    letter-spacing: 0.3mm;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
p.descripcion {
    color: #888;
    font-style: italic;
    font-size: 15px;
    margin-top: -5px;
}

.video {
    text-align: center;
    margin: 25px 0px;
}
.video iframe {
    margin: 15px;
}
#video-l {
    display: none;
}
#video-m {
    display: none;
}
#video-s {
    display: none;
}

.horario div {
    text-align: left;
    margin-bottom: 20px;
}
.horario h4 {
    color: #bbb;
    text-decoration: underline;
    font-size: 17px;
    margin-top: 20px;
}
.horario h4 span{
    font-style: italic;
}
.horario p {
    margin-left: 15px;
}
.span-horarios {
    display: block;
    text-align: left;
    font-weight: bold;
}

.columna-derecha, .columna-derecha p {
    text-align: right;
}
.columna-derecha ul {
    list-style: none;
}
.index-map {
    margin-bottom: 20px;
}
.index-map iframe {
    margin: 20px;
    border: 2px solid #000;
}
.enlaces-interes ul li {
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: solid 1px #f3f3f3;
}



.quienes-somos {
    margin: 50px 0px;
}
.about-col {
    text-align: center;
    border-right: 1px solid #ddd;
    vertical-align: top;
    height: 530px;
    padding: 0px 30px;
    margin-bottom: 50px;
}
.about-col:last-child {
    border-right-color: transparent;
}
.about-col img {
    height: 240px;
    border-radius: 450px;
    border: 5px solid #000;
    margin-bottom: 10px;
}
.about-col:first-child img {
    border-color: #00b5e2;
}
.about-col:last-child img {
    border-color: #e1e000;
}
.about-col h4 {
    color: #656565;
    margin-bottom: 20px;
}
.about-col p {
    text-align: justify;
}




#tabla-servicios{
    text-align: center;
}

#tabla-servicios a{
    color: #000;
}
.servicio {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 15px 0px;
    padding: 80px;
}
.servicio h3 {
    display: none;
}
.servicio .img-servicio {
    display: block;
    width: 100%;
}
.servicio div.mas-info  {
    background: rgba(7, 136, 168, 0.75);
    color: white;
    font-size: 1em; 
    position: absolute; 
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    overflow: hidden; 
    margin: 80px;
    padding: 3.75em 3em;
    text-align: center; 
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.servicio div.mas-info:hover {
    opacity: 1;
}
.servicio div.mas-info:after,
.servicio div.mas-info:before {
    border: 1px solid rgba(255, 255, 255, 0.7);
    bottom: 1em;
    content: '';
    left: 1em;
    opacity: 0;
    position: absolute; 
    right: 1em;
    top: 1em;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); 
    -webkit-transition: 0.6s 0.2s;
    transition: 0.6s 0.2s;
}
.servicio div.mas-info:before {
    border-bottom: none;     
    border-top: none;
    left: 2em;
    right: 2em;
}
.servicio div.mas-info:after {
    border-left: none;
    border-right: none;    
    bottom: 2em;
    top: 2em;
}
.servicio div.mas-info:hover:after, 
.servicio div.mas-info:hover:before {
    transform: scale(1);
    opacity: 1;
}
.servicio div.mas-info:hover:after,
.servicio div.mas-info:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.servicio div.mas-info h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
}
.servicio div.mas-info h2.ento-grupal {
    margin-bottom: 0px;
}
.servicio div.mas-info p {
    margin-top: 140px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 17px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.servicio div.mas-info:hover p {
    margin-top: 0px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.servicio div.mas-info p:last-child {
    position: absolute;
    bottom: 27px;
    right: -34px;
}
.servicio div.mas-info:hover p:last-child {
    right: 34px;
}


.row-servicio {
    padding: 60px 0px;
}
.row-servicio img {
    border-radius: 10px;
    height: 250px;
}
.titulo-servicio {
    border-bottom: 1px solid #ddd;
    color: #00b5e2;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}
.list-style-none {
    list-style: none;
    padding-left: 20px;
}


.div-contacto {
    margin-top: 60px;
    text-align: center;
}
.info-contacto {
    text-align: left;
    font-size: 15px;
}
.info-contacto h3 {
    font-size: 22px;
}
.logos-redes img {
    height: 27px;
    margin: 25px 7px;
}
.logos-redes img:hover {
    opacity: 0.7;
}

.google-map iframe {
    margin: 55px 0px;
    border: 2px solid #000;
}
#map-l {
    display: none;
}
#map-m {
    display: none;
}
#map-s {
    display: none;
}



.posts {
    margin: 10px 0px 40px;
}
.posts div {
    background-color: #888;
    color: #fff;
    margin: 30px 0px 50px;
    padding: 20px;
    transition:.6s all ease-out;
    -webkit-transition:.6s all ease-out;
    -moz-transition:.6s all ease-out;
    -ms-transition:.6s all ease-out;
    -o-transition:.6s all ease-out;
}
.posts h2 {
    color: #e1e000;
    font-size: 26px;
    margin-top: 5px;
}
.posts h5 {
    margin: -7px 0px 20px;
    font-size: 13px;
}
.posts img {
    padding: 0px;
    transition:.6s all ease-out;
    -webkit-transition:.6s all ease-out;
    -moz-transition:.6s all ease-out;
    -ms-transition:.6s all ease-out;
    -o-transition:.6s all ease-out;
}
.posts p, .posts .lista, .posts .imagen-secundaria, 
.posts h4, .posts span, div.quote {
    display: none;
}
.posts .pre-descripcion {
    margin: 0px;
    padding: 0px 20px;
}
.posts .pre-descripcion p:first-child {
    display: block;
    height: 180px;
    overflow: hidden;
}
.posts a {
    display: block;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    width: 125px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
}
.posts a:hover {
    background-color: #353535;
}
.posts .post-leer-menos {
    display: none;
}
.post-active {
    transition:.6s all ease-out;
    -webkit-transition:.6s all ease-out;
    -moz-transition:.6s all ease-out;
    -ms-transition:.6s all ease-out;
    -o-transition:.6s all ease-out;
}
.post-active img {
    width: 100%;
    margin-bottom: 20px;
    transition:.6s all ease-out;
    -webkit-transition:.6s all ease-out;
    -moz-transition:.6s all ease-out;
    -ms-transition:.6s all ease-out;
    -o-transition:.6s all ease-out;
}
.post-active h4 {
    display: block;
}
.post-active p, .post-active .lista {
    display: block;
    font-size: 15px;
    margin: 20px 0px;
}
.post-active .imagen-secundaria {
    display: block;
    margin: 40px 0px;
}
.post-active div.quote {
    display: block;
    text-align: center;
    margin: 0px;
}
.post-active span {
    display: inline;
    font-style: italic;
    font-size: 19px;
}
.post-active span.quotation-mark {
    font-size: 25px;
    font-weight: 600;
}
.post-active .pre-descripcion {
    padding: 5px 0px;
    width: 100%;
}
.post-active .pre-descripcion div {
    display: block;
    font-size: 15px;
}
.post-active .pre-descripcion p:first-child {
    height: auto;
}
.post-active .post-leer-mas {
    display: none;
}
.post-active .post-leer-menos {
    display: block;
    float: right;
}

span.encuadre {
    
}


.entradas {
    padding-left: 40px;
}
.entradas h3 {
    padding-top: 20px;
    font-size: 20px;
    border-bottom: 3px solid #aaa;
    text-align: right;
    margin-bottom: 20px;
}
.entradas ul {
    list-style: none;
    padding-left: 0px;
    text-align: right;
}
.entradas a {
    display: block;
    border-bottom: 1px solid #eee;
    margin: 10px 0px 0px;
    padding-bottom: 10px;
}
.entradas div {
    margin: 5px 0px;
}
.entradas img {
    padding: 0px;
}
.entradas .fecha-entrada {
    font-size: 12px;
}



#before-footer-line {
    background-color: #049CC2;
    width: 100%;
    color: #e5e5e5;
    font-size: 16px;
    font-style: italic;
    padding: 5px 0px;
    margin-top: 20px;
}

#before-footer-line img {
    width: 70px;
    margin-right: 10px;
}


footer {
    background: #000;
    width: 100%;
}
.footer-list {
    margin: 10px 0px;
}
.footer-list h3 {
    color: #555;
    font-size: 19px;
}

ul.foot-list{
    padding-left: 2px;
}
ul.foot-list li {
    list-style-type: none;
    padding:5px 0px;
}

.address p{
    color:#ccc;
    margin-bottom:2px;
}

.designer p{
    padding-top: 10px;
    color: #555;  
    text-align: center;
}
.designer a{
    color: #888;  
}
.designer a:hover{
    color: #bbb;  
}

.bottom-line {
    background-color: #444;
    width: 100%;
    text-align: center;
    color: #777;
    font-size: 12px;
    padding: 10px;
}

footer a {
    color: #eee;
    transition:.2s all ease-out;
    -webkit-transition:.2s all ease-out;
    -moz-transition:.2s all ease-out;
    -ms-transition:.2s all ease-out;
    -o-transition:.2s all ease-out;
}
footer a:hover {
    text-decoration: none;
    color:#e1e000;
}


.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-bold {
    font-weight: bold;
}

@media screen and (max-width:1199px) {


    ul#nav li a {
        padding: 28px 22px;
    }
    ul#nav li:hover ul.dropdown {
        height: 185px;
    }
    ul#nav li ul.dropdown-tienda li{
        margin: -10px 30px;
    }
    ul#nav li ul.dropdown li a {
        font-size: 19px;
    }
    ul#nav li ul.dropdown li a div img{
        height: 132px;
        margin-top: -25px;
        margin-left: -7px;
    }


    .servicio div.mas-info  {
        top: 13px;
        right: 13px;
        bottom: 13px;
    }


    .video iframe {
        margin: 15px 7px;
    }
    #video-xl {
        display: none;
    }
    #video-l {
        display: block;
    }


    .about-col {
        height: 610px;
    }
    .about-col img {
        height: 220px;
    }


    .servicio {
        padding: 55px;
    }
    .servicio div.mas-info  {
        margin: 55px;
    }


    .row-servicio img {
        border-radius: 10px;
        height: 200px;
    }


    .entradas {
        padding: 0px;
    }
}

@media screen and (max-width:991px) {

    .redes-sociales span {
        top: 2px;
    }
    .redes-sociales img {
        margin-top: -35px;
    }
    .redes-sociales img:hover {
        margin-top: -35px;
    }

    #home-logo {
        position: relative;
        padding: 5px 0px;
    }
    #home-logo img {
        width: 190px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in { 
        display: block!important; 
    }
    .navbar-toggle .icon-bar {
        background-color: white;
    }
    ul#nav li:hover ul.dropdown {
        display: none;
    }
    ul#nav li.active a:hover, 
    ul#nav li.active a:focus, 
    ul#nav li a:hover, ul#nav li a.menuItemHover {
        background-color: transparent; 
    }
    ul#nav li a {
        padding: 5px 22px 20px;
    }
    .caret {
        display: none;
    }
    

    #owl-big-wrapper {
        display: none;
    }
    #owl-small-wrapper {
        display: block;
    }


    #video-l {
        display: none;
    }
    #video-m {
        display: block;
    }


    .about-col {
        height: 640px;
        padding: 0px 20px;
    }
    .about-col img {
        height: 200px;
    }


    .servicio {
        padding: 35px;
    }
    .servicio h3 {
        display: block;
        color: #049CC2;
        margin-bottom: 20px;
    }
    .servicio h3#compl-nutricionales {
        margin-top: -5px;
    }
    .servicio div.mas-info  {
        display: none;
    }


    #map-xl {
        display: none;
    }
    #map-l {
        display: block;
    }


    .entradas h3 {
        margin-bottom: 15px;
    }
    .entradas img {
        display: none;
    }
    .entradas div {
        width: 100%;
        margin: 6px 0px;
        padding: 0px;
    }

}

@media screen and (max-width:767px) {

    .redes-sociales {
        right: 5%;
    }

    #home-logo {
        padding: 5px 10px;
    }
    ul#nav li a {
        padding: 5px 16px 20px;
        font-size: 18px;
    }
    

    .about-col {
        height: auto;
        border-right: none;
    }


    .columna-derecha, .columna-derecha p {
        text-align: left;
        margin: 20px 0px;
    }
    .donde-estamos div {
        padding-left: 0px;
    }


    .servicio {
        padding: 40px 125px;
    }
    .servicio h3#compl-nutricionales {
        margin-top: 20px;
    }


    .row-servicio {
        padding: 40px 0px 10px;
        text-align: center;
    }
    .row-servicio img {
        height: auto;
        margin: 30px 0px 30px;
        width: 85%;
    }


    #map-l {
        display: none;
    }
    #map-m {
        display: block;
    }


    .posts h2 {
        font-size: 24px;
    }
    .posts p {
        font-size: 14px;
    }
    .entradas {
        display: none;
    }


    .bottom-line {
        display: none;
    }
    .footer-list div {
        display: none;
    }
    .footer-list div:first-child,
    .footer-list div:last-child {      
        display: inline-block;
    }
    .footer-list div:first-child{  
        padding: 0px 80px;
    }
}

@media screen and (max-width:567px) {

    ul#nav li {
        display: table;
        float: none;
    }

    .donde-estamos div {
        width: 100%;
    }


    .servicio {
        padding: 10px 75px;
    }
    .servicio h3 {
        font-size: 19px;
    }

    .row-servicio img {
        margin: 25px 0px 25px;
        width: 95%;
    }



    .info-contacto {
        font-size: 14px;
    }
    .info-contacto h3 {
        font-size: 21px;
    }



    #map-m {
        display: none;
    }
    #map-s {
        display: block;
    }


    .posts h2 {
        font-size: 21px;
    }


    .footer-list div:first-child {  
        padding: 0px 30px;
    }
    #before-footer-line {
        font-size: 13px;
    }
    #before-footer-line img {
        width: 55px;
    }
}

@media screen and (max-width:400px) {


    #video-m {
        display: none;
    }
    #video-s {
        display: block;
    }


    .posts a {
        width: 85px;
    }
    .posts p {
        font-size: 13px;
    }


    .info-contacto {
        font-size: 13px;
    }
    .info-contacto h3 {
        font-size: 19px;
    }


    #before-footer-line {  
        text-align: center;
        padding: 9px 0px 5px;
    }
    #before-footer-line img {
        display: none;
    }
}
