
.home-active{
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    background: rgb(153,20,38);
    background: -moz-linear-gradient(top, rgb(184,57,74) 0%, rgb(153,20,38) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(184,57,74)), color-stop(100%, rgb(153,20,38)));
    background: -webkit-linear-gradient(top, rgb(184,57,74) 0%, rgb(153,20,38) 100%);
    background: -o-linear-gradient(top, rgb(184,57,74) 0%, rgb(153,20,38) 100%);
    background: -ms-linear-gradient(top, rgb(184,57,74) 0%, rgb(153,20,38) 100%);
    background: linear-gradient(to bottom, rgb(184,57,74) 0%, rgb(153,20,38) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(184,57,74)', endColorstr='rgb(153,20,38)',GradientType=0 );
    border-radius: 7px 7px 0px 0px;
}
